<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>聊天室</title>
    <link rel="stylesheet" type="text/css" href="../static/css/soket.css" /> </head>

<body>
    <div class="main">
        <div class="main-top"> socket.io demo </div>
        <div class="main-body">
            <section class="chatRoomInfo">
                <div class="info">当前共有<span class="chatNum">0</span>人在线。在线列表:&nbsp;<span class="chatList"></span></div>
                <div class="info">当前共有<span class="offchatNum">0</span>人离线</div>
            </section>
        </div>
        <div class="main-footer clearfix">
            <div class="input">
                <input type="text" name="msg" id="msg" value="" /> </div>
            <button type="button" class="send">发送</button>
        </div>
    </div>
<script src="../static/dep/jquery-2.1.0.js"></script>
<script src="../static/dep/socket.io.min.js"></script>
<script src="../static/js/socket.js"></script>
</body>
</html>