<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>展示列表</title>
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="../plugins/bootstrap-3.3.7/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/common.css" /> </head>
	<link rel="stylesheet" type="text/css" href="../css/index.css" /> </head>
	<link rel="stylesheet" type="text/css" href="../css/disaplayList.css" /> </head>

<body>
	<!-- 首页 -->
	<div class="wrap">
		<!-- //头部 -->
		<header>
			<div class="head-nav">
				<div>
					<nav class="navbar m-0">
						<div class="container-fluid">
							<!-- logo 日后添加 -->
							<div class="navbar-header">
								<!-- <a class="navbar-brand" href="#">
									<img  src="../images/1.jpg">
								</a> -->
							</div>
							<ul id="navbar" class="nav navbar-nav f-r">
								<li class="active" data-target="banner">主页</li>
								<li data-target="brief">个人简介</li>
								<li data-target="works">作品展示</li>
								<li data-target="footer">联系方式</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</header>
		<!-- 内容 -->
		<div class="grid">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<!-- //尾部 -->
		<!-- <footer class="footer" data-name="footer">
			<div class="container-fluid contact">
				<div class="row t-c c-999">
					<div class="col-md-4">
						<div class="m-b-5">Email</div>
						<div>869316456@qq.com</div>
					</div>
					<div class="col-md-4">
						<div class="m-b-5">github</div>
						<div><a href="https://github.com/AnLuoTingKuLai" target="_blank">https://github.com/AnLuoTingKuLai</a></div>
					</div>
					<div class="col-md-4">
						<div class="m-b-5">TAG CLOUD</div>
						<ul class="wrap-col t-l">
							<li>HTML5</li>
							<li>CSS3</li>
							<li>SASS</li>
							<li>javascript</li>
							<li>jquery</li>
							<li>ES6</li>
							<li>vue</li>
							<li>gulp</li>
							<li>websocket</li>
							<li>Node</li>
							<li>photoshop</li>
						</il>
					</div>
				</div>
			</div>
		</footer> -->
	</div> 
	<!-- 首页结束 -->

</body>
<script src="../plugins/jquery-2.1.0.js"></script>
<script src="../dep/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/index.js"></script>
</html>