<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>展示列表</title>
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />   
	<link rel="stylesheet" href="../plugins/bootstrap-3.3.7/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/common.css" /> </head>
	<link rel="stylesheet" type="text/css" href="../css/index.css" /> </head>
	<link rel="stylesheet" type="text/css" href="../css/disaplayList.css" /> </head>

<body>
	<!-- 首页 -->
	<div class="wrap">
		<!-- //头部 -->
		<header>
			<div class="head-nav small">
				<div>
					<nav class="navbar m-0">
						<div class="container-fluid">
							<!-- logo 日后添加 -->
							<div class="navbar-header">
								<!-- <a class="navbar-brand" href="#">
									<img  src="../images/1.jpg">
								</a> -->
							</div>
							<div id="navbar" class="nav navbar-nav f-r">
								<li class="active" data-target="banner"><a href="../index">主页</a></li>
								<li data-target="footer"><a href="javascript:;">联系方式</a></li>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</header>
		<!-- 内容 -->
		<div class="container">
			<div class="grid">
				<a href="../photo">
					<div class="grid-item box-animation">
						<!-- //展示的内容 -->
						<div class="box-an-title">照片墙</div>
						<div class="box-an-content">
							<img src="../images/thumbnail/photo2.jpg" alt="">
						</div>
						<!-- //hover的时候的内容 -->
						<div class="box-an-mask">
							使用animation 实现照片墙效果
						</div>
					</div>
				</a>
				<a href="../views/localStorage.html">
					<div class="grid-item box-animation">
						<!-- //展示的内容 -->
						<div class="box-an-title">localStorage功能展示</div>
						<div class="box-an-content">
							<img src="../images/thumbnail/localStorage.jpg" alt="">
						</div>
						<!-- //hover的时候的内容 -->
						<div class="box-an-mask">
							localStorage 和 sessionStorage 的对比
						</div>
					</div>
				</a>
				<a href="../views/indexDB.html">
					<div class="grid-item box-animation">
						<!-- //展示的内容 -->
						<div class="box-an-title">indexDB的基础使用</div>
						<div class="box-an-content">
							<img src="../images/thumbnail/indexDb.jpg" alt="">
						</div>
						<!-- //hover的时候的内容 -->
						<div class="box-an-mask">
							indexDB的基础使用
						</div>
					</div>
				</a>
				<a href="../login">
					<div class="grid-item box-animation">
						<!-- //展示的内容 -->
						<div class="box-an-title">socket实时聊天</div>
						<div class="box-an-content">
							<img src="../images/thumbnail/socket.jpg" alt="">
						</div>
						<!-- //hover的时候的内容 -->
						<div class="box-an-mask">
							<div>node + socket + mySql</div>
							<div>登录与实现实时聊天与头像替换功能</div>
						</div>
					</div>
				</a>
				<a href="javascript:;">
					<div class="grid-item box-animation">
						<!-- //展示的内容 -->
						<div class="box-an-title">图片切入动画</div>
						<div class="box-an-content">
							<img src="../images/thumbnail/photo.jpg" alt="">
						</div>
						<!-- //hover的时候的内容 -->
						<div class="box-an-mask">
							使用animation 实现照片墙效果
						</div>
					</div>
				</a>
				<a href="javascript:;">
					<div class="grid-item box-animation">
						<!-- //展示的内容 -->
						<div class="box-an-title">前后端头像切换</div>
						<div class="box-an-content">
							<img src="../images/thumbnail/socket2.jpg" alt="">
						</div>
						<!-- //hover的时候的内容 -->
						<div class="box-an-mask">
							<div>node + socket + mySql</div>
							<div>登录与实现实时聊天与头像替换功能</div>
						</div>
					</div>
				</a>
				
			</div>
		</div>
		<!-- 内容结束 -->
	</div> 
	<!-- 首页结束 -->

	<!-- //尾部  用load加载../tpl/footer.tpl的内容-->
	<div id="footerWrap"></div>

</body>
<script src="../plugins/jquery-2.1.0.js"></script>
<script src="../plugins/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/disaplayList.js"></script>
</html>