<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>动画，过渡，旋转</title>
	<!-- //照片和照片墙 -->
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />  
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/textAnimation.css">
	<link rel="stylesheet" href="../css/photo.css">
</head>

<body>
	
	<div class="gridWrap">
		<!-- //下面是照片 -->
		<div>
			<div class="container clearfix">
				<div class="photo im1"> <img src="../images/1.jpg" alt="风景图片1" />
					<p class="caption">风景图片1.jpg</p>
				</div>
				<div class="photo im2"> 
					<img src="../images/2.jpg" alt="人物图片1" />
					<p class="caption">
						人物图片1.jpg
					</p>
					<!-- //关闭按钮  && 锚点连接-->
					<div class="menu-outer" data-target="photo"> <span class="menu"></span> </div>
				</div>
				<div class="photo im3"> <img src="../images/10.jpg" alt="风景图片3" />
					<p class="caption">风景图片3.jpg</p>
				</div>
			</div>
			<div class="textFont">
				<div class="text">
					<div class="name">
						<span class="textAnimation">图</span>
						<span class="textAnimation">片</span>
						<span class="textAnimation">动</span>
						<span class="textAnimation">画</span>
						<span class="textAnimation">效</span>
					</div>
					<div class="name2">
						<span class="textAnimation">A</span>
						<span class="textAnimation">n</span>
						<span class="textAnimation">i</span>
						<span class="textAnimation">M</span>
						<span class="textAnimation">a</span>
						<span class="textAnimation">t</span>
						<span class="textAnimation">i</span>
						<span class="textAnimation">o</span>
						<span class="textAnimation">n</span>
						<span class="textAnimation" style="margin-left:5px">D</span>
						<span class="textAnimation">i</span>
						<span class="textAnimation">s</span>
						<span class="textAnimation">a</span>
						<span class="textAnimation">p</span>
						<span class="textAnimation">l</span>
						<span class="textAnimation">a</span>
						<span class="textAnimation">y</span>
						<span class="textAnimation" style="margin-left:5px">2</span>
						<span class="textAnimation">0</span>
						<span class="textAnimation">1</span>
						<span class="textAnimation">8</span>
					</div>
				</div>
			</div>
		</div>
		<!-- //下面是照片墙 -->

		<div class="container1" data-name='photo'> 
			<img src="../images/1.jpg" class="pic1"> 
			<img src="../images/2.jpg" class="pic2"> 
			<img src="../images/3.jpg" class="pic3"> 
			<img src="../images/4.jpg" class="pic4"> 
			<img src="../images/5.jpg" class="pic5"> 
			<img src="../images/6.jpg" class="pic6"> 
			<img src="../images/7.jpg" class="pic7"> 
			<img src="../images/8.jpg" class="pic8"> 
			<img src="../images/9.jpg" class="pic9"> 
			<img src="../images/10.jpg" class="pic10"> 
		</div>

	</div>
</body>
<script src="../plugins/jquery-2.1.0.js"></script>
<script>
let $dataTarget = $('[data-target]');
$dataTarget.on({
    click(){
        let $targer = $(`[data-name="${$(this).data('target')}"]`);
        $("html, body").animate({
        scrollTop: $targer.offset().top }, {duration: 500,easing: "swing"});
    }
})
</script>
</html>