<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>主页</title>
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="../plugins/bootstrap-3.3.7/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/common.css" /> </head>
<link rel="stylesheet" type="text/css" href="../css/index.css" /> </head>

<body>
	<!-- //头部 -->
	<header>
		<div class="head-nav">
			<div class="container">
				<nav class="navbar m-0">
					<div class="container-fluid">
						<!-- logo 日后添加 -->
						<div class="navbar-header">
							<!-- <a class="navbar-brand" href="#">
								<img  src="../images/1.jpg">
							</a> -->
						</div>
						<ul class="nav navbar-nav f-r">
							<li class="active"><a href="#">主页</a></li>
							<li><a href="#">个人中心</a></li>
							<li><a href="#">职业技能</a></li>
							<li><a href="#">作品展示</a></li>
							<li><a href="#">联系方式</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<!-- 内容 -->
	<!-- //banner -->
	<div class="banner">
		<div class="banner-image-layer">
			<div class="banner-image"></div>
		</div>
		<!-- <img class="banner-image" src="../images/1.jpg" alt=""> -->
		<div class="banner-caption">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="text-center font">天道酬<span class="c-blue">勤</span></h1>
						<p class="text-center remarks font">
							一个人写的烂软件将会给另一个人带来一份全职工作
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //图片 -->
	<div class="skill">
		<div class="item item-1">1</div>
		<div class="item item-2">2</div>
		<div class="item item-3">3</div>
	</div>
	<!-- //尾部 -->
	<footer class="m-b-30" style="height: 30px;"></footer>
</body>
<script src="../plugins/jquery-2.1.0.js"></script>
<script src="../dep/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
<script src="../js/index.js"></script>
</html>