<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>主页</title>
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="../plugins/bootstrap-3.3.7/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/common.css" /> </head>
<link rel="stylesheet" type="text/css" href="../css/index.css" /> </head>

<body>
	<!-- //头部 -->
	<header>
		<div class="head-nav">
			<div class="container">
				<nav class="navbar m-0">
					<div class="container-fluid">
						<!-- logo 日后添加 -->
						<div class="navbar-header">
							<!-- <a class="navbar-brand" href="#">
								<img  src="../images/1.jpg">
							</a> -->
						</div>
						<ul id="navbar" class="nav navbar-nav f-r">
							<li class="active" data-target="banner">主页</li>
							<li data-target="brief">个人简介</li>
							<li data-target="brief2">职业技能</li>
							<li>作品展示</li>
							<li>联系方式</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<!-- 内容 -->
	<!-- //banner -->
	<div class="banner" data-name="banner">
		<div class="banner-image-layer">
			<div class="banner-image"></div>
		</div>
		<!-- <img class="banner-image" src="../images/1.jpg" alt=""> -->
		<div class="banner-caption">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="text-center font">天道酬<span class="c-blue">勤</span></h1>
						<p class="text-center remarks font">
							一个人写的烂软件将会给另一个人带来一份全职工作
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 简介 -->
	<div class="brief" data-name="brief">
		<div class="brief-content">
			<div class="brief-img">
				<img  src="../images/9.jpg" alt="">
			</div>
			<div class="brief-text">
				<h3 class="c-gray m-b-15">你好, 欢迎来到我的网站</h3>
				<!-- 名称 -->
				<div class="f-16 m-b-5">我是陈升 <small class="c-gray">(chenSheng)</small></div>
				<!-- //职业 -->
				<div class="f-14 opacity-50">网页前端工程师</div>
				<div class="m-b-5 f-12 opacity-20">front-end Web developer</div>
				<!-- //爱好 -->
				<div class="m-b-5 f-14 opacity-60">空闲时间喜欢看看小说和漫画</div>
				<div class="m-b-5 f-20 opacity-30"> 座右铭是 “天道酬勤”</div>
				<ul class="skill-bars">
					<li>
						<span class="bar-title"><strong>HTML5</strong></span>
						<span class="bar-text"></span>
						<div class="progress-bar">
							<div class="progress" data-percent="90"></div>
						</div>
					</li>
					<li>
						<span class="bar-title"><strong>CSS3</strong></span>
						<span class="bar-text"></span>
						<div class="progress-bar">
							<div class="progress" data-percent="85"></div>
						</div>
					</li>
					<li>
						<span class="bar-title"><strong>ES6</strong></span>
						<span class="bar-text"></span>
						<div class="progress-bar">
							<div class="progress" data-percent="85"></div>
						</div>
					</li>
					<li>
						<span class="bar-title"><strong>NODE</strong></span>
						<span class="bar-text"></span>
						<div class="progress-bar">
							<div class="progress" data-percent="50"></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //图片 -->
	<div class="skill" data-name="brief2">
		<div class="skill-item skill-item-1">1</div>
		<div class="skill-item skill-item-2">2</div>
		<div class="skill-item skill-item-3">3</div>
	</div>
	<!-- //尾部 -->
	<footer class="m-b-30" style="height: 30px;"></footer>
</body>
<script src="../plugins/jquery-2.1.0.js"></script>
<script src="../dep/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/index.js"></script>
</html>