<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>聊天室</title>
	<!-- //soket -->
	<link rel="stylesheet" type="text/css" href="../css/soket.css" /> </head>

<body>
	<div class="main">
		<div class="main-top"> 
			<span class="title">聊天室</span> 
			<div class="img-head-wrap">
                <a href="./views/personal.html">
                    <img id="img-head" class="img-head" src="../images/head.jpg" data-own-head="true">
                </a>
                <div class="head-filter-list-wrap">
	                <div class="head-filter-list">
		                <img src="../images/head.jpg" class="filter filter-grayscale" data-filter="grayscale">
		                <img src="../images/head.jpg" class="filter filter-saturate" data-filter="saturate">
		                <img src="../images/head.jpg" class="filter filter-sepia" data-filter="sepia">
		                <img src="../images/head.jpg" class="filter filter-invert" data-filter="invert">
		                <img src="../images/head.jpg" class="filter filter-opacity" data-filter="opacity">
		                <img src="../images/head.jpg" class="filter filter-brightness" data-filter="brightness">
		                <img src="../images/head.jpg" class="filter filter-contrast" data-filter="contrast">
		                <img src="../images/head.jpg" class="filter filter-hue-rotate" data-filter="hue-rotate">
		                <img src="../images/head.jpg" class="filter filter-blur" data-filter="blur">
		                <img src="../images/head.jpg" class="filter filter-normal" data-filter="normal">
		            </div>
		        </div>
            </div> 
        </div>
		<div class="main-body">
			<section class="chat-room-info">
				<div class="info"> 当前共有<span class="chatNum">0</span> 人在线, <span class="offchatNum">0</span>人离线 </div>
				<div class="user-list-wrap"> <span class="text">在线列表: </span>
					<div class="chat-list">
						<div class="base-info-wrap"> 
							<img class="img-o-head" src="../images/head.jpg">
						</div>
					</div>
				</div>
			</section>
			<section clas="chat-wrap" id="chatWrap">
				
			</section>

		</div>
		<div class="main-footer clearfix">
			<div class="input">
				<input type="text" id="msg" /> </div>
			<button type="button" id="sendBtn" class="send">发送</button>
		</div>
	</div>
</body>
<script src="../plugins/jquery-2.1.0.js"></script>
<script src="../plugins/socket.io.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/socket.js"></script>

</html>