<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>MVVM双向数据绑定</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/mvvm.css">
</head>

<body>
    <div class="wrap">
        <input type="text" id="input">
        <div id='app'>
            <h3>姓名</h3>
            <p>{{name}}</p>
            <h3>年龄</h3>
            <p>{{age}}</p>
        </div>
        <div id='wrap'></div>
    </div>
</body>

</html>
<script src="../js/mvvm.js"></script>